/* Wwrap - CSS Framework Library, for Responsive Webdesign */


.w100 
{
	width:100%;
	height:auto; 
	position:relative;
	float:left;	
}


.w90 
{
	width:90%;
	height:auto; 
	position:relative;
	float:left;	
}


.w80 
{
	width:80%;
	height:auto; 
	position:relative;
	float:left;	
}


.w70 
{
	width:70%;
	height:auto; 
	position:relative;
	float:left;	
}


.w60 
{
	width:60%;
	height:auto; 
	position:relative;
	float:left;	
}


.w50 
{
	width:50%;
	height:auto; 
	position:relative;
	float:left;	
}


.w40 
{
	width:40%;
	height:auto; 
	position:relative;
	float:left;	
}


.w30 
{
	width:30%;
	height:auto; 
	position:relative;
	float:left;	
}


.w20 
{
	width:20%;
	height:auto; 
	position:relative;
	float:left;	
}


.w10 
{
	width:10%;
	height:auto; 
	position:relative;
	float:left;	
}


.w5 
{
	width:5%;
	height:auto; 
	position:relative;
	float:left;	
}


.ml10
{
	margin-left:10%;	
}

.mb0 
{
	margin-bottom:0px;	
}

.mt20 
{
	margin-top:20px;	
}

.mt0
{
	margin-top:0px!important;	
}

.fl
{
	float:left;
}

.fr
{
	float:right;	
}


.tcenter
{
	text-align:center;	
}

